@font-face {
    font-family: roboto;
    src: url(../Roboto/Roboto-Regular.ttf);
}

.container{
    font-family: roboto;
    width: 900px;
    height: 500px;
    align-self: center;
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10vh;
}

div.container img{
    width: 500px;
    height: 90%;
    object-fit: cover;
}
div.box{
width: 200px;
height: 90%;
display: flex;
flex-flow: column;
justify-content: space-between;
align-items: center;
}
div.prodt{
    width: 180px;
    height: auto;
    font-size: 1.4em;
}

div.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    background-color: rgb(24, 215, 24);
    font-size: 0.9em;
    cursor: pointer;
}


div.bt:hover{
    box-shadow: 0px 0px 15px 2px rgb(64, 134, 64);
}

@media screen and (max-width:768px) {
    .container{
        width: 400px;
        height: auto;
        flex-direction: column;
    }
    div.container img{
        padding: 10px;
        width: 80%;
        object-fit: contain;
    }
    div.prodt{
        display: flex;
        flex-direction: row;
    }
    div.box{
        margin-bottom: 10vh;
    }
    div.bt{
        position: absolute;
        margin-top: 15vh;
    }
}

@media screen and (max-width:500px) {
    .container{
        width: 300px;
        height: auto;
        flex-direction: column;
    }
    div.container img{
        padding: 10px;
        width: 80%;
        object-fit: contain;
    }
    div.prodt{
        display: flex;
        flex-direction: row;
    }
    div.box{
        margin-bottom: 10vh;
    }
    div.bt{
        position: absolute;
        margin-top: 15vh;
    }
}